._7b7o{align-items:center;background-color:#f5f6f7;border:solid 1px #dadde1;box-sizing:border-box;display:flex;height:100%;justify-content:center}._7b7e{height:100%}._7b7f{align-items:center;display:flex;height:100%}

#bootloader_dgXzp{height:42px;}.bootloader_dgXzp{display:block!important;}