._3qgi ._2ekr{width:140px}._3qgi ._4209{font-size:12px;vertical-align:middle}._3qgi{margin-right:40px}
._75i-{margin-top:4px;width:188px}

#bootloader_D6K8V{height:42px;}.bootloader_D6K8V{display:block!important;}