._731z{border-bottom:1px solid #dadde1;display:flex;padding:8px 4px}._731-{margin:0 4px}._731_{flex-grow:1;max-width:250px}._7323{flex-grow:1;text-align:right}

#bootloader_oGupW{height:42px;}.bootloader_oGupW{display:block!important;}