._7fb8{background:#f5f6f7;border:1px solid #dddfe2;border-radius:45px;height:26px;max-width:80px;padding:0 12px}
._4m1b{display:flex}
._3g0s{display:flex}._3g0s ._5v_d{margin-top:0}
._2x65 ._3sts{padding-top:12px}._2x65{top:13px}._2x66 ._2ekr{vertical-align:top}
._1fl7{display:flex;flex-direction:row}._37qk{flex:1}
._5v_d button{min-width:30px}

#bootloader_eXM4i{height:42px;}.bootloader_eXM4i{display:block!important;}