._732m{background:#ebedf0;border-top:1px solid #dadde1;padding:12px}._732n{align-items:baseline;display:flex;margin-bottom:8px}._732o{flex-grow:1;font-weight:bold;margin-bottom:8px}._732p{display:flex}

#bootloader_d4Ypj{height:42px;}.bootloader_d4Ypj{display:block!important;}